# NVMe / SD image: boot (FAT32) + root (ext4) + /data (ext4)
# genimage is invoked from post-image.sh with paths set via env vars.

image hub-nvme.img {
	hdimage {
	}

	partition boot {
		partition-type = 0x0C
		image = "${BOOTIMAGE}"
		offset = 8M
		bootable = true
	}

	partition root {
		partition-type = 0x83
		image = "${ROOTFSIMAGE}"
	}

	partition data {
		partition-type = 0x83
		image = "${DATAIMAGE}"
		size = 512M
	}
}
